.header {
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content:first baseline ;
    align-items: center;
}

.logo {
    cursor: pointer;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

}

nav ul li {
    font-size: 2.167rem; /* Define o tamanho de fonte dentro da barra de navegação */
    padding: 3.2rem;

}

nav ul li a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: #C4C4CC; /* Define a cor do texto */
    margin: 0 10px; /* Espaçamento entre links */
}

nav a:hover {
    color: #fffafa; /* Muda a cor do texto ao passar o mouse */
    border-radius: .7rem; /* Arredonda os cantos do link */
}